/******************************************
*  Author : @AngelMaldonado   
*  Created On : Thu May 26 2022
*  File : card.css
*******************************************/
@import url("/assets/css/tokens/tokens.css");

/**
 * Uso:
<div class="a-card__contenido -info -efHover(filtro) -ef(sombraEXMD-Negro)">
        <a href="/" class="-(filtro)"></a>
</div>
<div class="a-card__contenido -cardProducto -efHover(filtro) -ef(sombraEXMD-Negro)">
    <a href="/" class="-(filtro)"></a>
</div>
<a href="/" class="a-card__contenido -categoria"><span>Categoría</span></a>
<a href="/" class="a-card__contenido -miniatura"></a>
<a href="/" class="a-card__contenido -radio -efHover(sombraEXMD-Negro)"></a>
<div class="a-card__pantalla">
</div>
<div class="a-card__galeria -vertical -efHover(filtro)">
    <a href="/" class="-(filtro)">
        <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <g id="ojo-vector">
                <path
                    d="M12 4.5C7 4.5 2.73 7.61 1 12C2.73 16.39 7 19.5 12 19.5C17 19.5 21.27 16.39 23 12C21.27 7.61 17 4.5 12 4.5ZM12 17C9.24 17 7 14.76 7 12C7 9.24 9.24 7 12 7C14.76 7 17 9.24 17 12C17 14.76 14.76 17 12 17ZM12 9C10.34 9 9 10.34 9 12C9 13.66 10.34 15 12 15C13.66 15 15 13.66 15 12C15 10.34 13.66 9 12 9Z" />
            </g>
        </svg>
    </a>
</div>
<div class="a-card__galeria -horizontal -efHover(filtro)">
    <a href="/" class="-(filtro)">
        <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <g id="ojo-vector">
                <path
                    d="M12 4.5C7 4.5 2.73 7.61 1 12C2.73 16.39 7 19.5 12 19.5C17 19.5 21.27 16.39 23 12C21.27 7.61 17 4.5 12 4.5ZM12 17C9.24 17 7 14.76 7 12C7 9.24 9.24 7 12 7C14.76 7 17 9.24 17 12C17 14.76 14.76 17 12 17ZM12 9C10.34 9 9 10.34 9 12C9 13.66 10.34 15 12 15C13.66 15 15 13.66 15 12C15 10.34 13.66 9 12 9Z" />
            </g>
        </svg>
    </a>
</div>
<div class="a-card__galeria -rectangular -efHover(filtro)">
    <a href="/" class="-(filtro)">
        <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <g id="ojo-vector">
                <path
                    d="M12 4.5C7 4.5 2.73 7.61 1 12C2.73 16.39 7 19.5 12 19.5C17 19.5 21.27 16.39 23 12C21.27 7.61 17 4.5 12 4.5ZM12 17C9.24 17 7 14.76 7 12C7 9.24 9.24 7 12 7C14.76 7 17 9.24 17 12C17 14.76 14.76 17 12 17ZM12 9C10.34 9 9 10.34 9 12C9 13.66 10.34 15 12 15C13.66 15 15 13.66 15 12C15 10.34 13.66 9 12 9Z" />
            </g>
        </svg>
    </a>
</div>
 */

.a-card__pantalla,
.a-card__galeria,
.a-card__contenido {
    display: block;
    position: relative;

    background-image: url(https://picsum.photos/1200/720);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    cursor: pointer;
}

.a-card__pantalla {
    min-height: 90vh;
    max-width: 100vw;
}

.a-card__galeria,
.a-card__contenido {
    border-radius: var(--Borde-r);
}

.a-card__contenido.-radio {
    border-radius: 50%;

    max-width: 80.6rem;
}

.a-card__contenido.-radio:after {
    content: "";
    padding-bottom: 100%;
    display: block;
}

@media screen and (max-width: 550px) {
    .a-card__contenido.-radio {
        max-width: 30.2rem;
    }
}

.a-card__contenido.-miniatura {
    max-width: 14.3rem;
    min-height: 14.3rem;
}

@media screen and (max-width: 550px) {
    .a-card__contenido.-miniatura {
        max-width: 16.2rem;
        min-height: 16.2rem;
    }
}

.a-card__contenido.-infoProducto {
    max-width: 32.8rem;
    min-height: 32.8rem;
}

@media screen and (max-width: 550px) {
    .a-card__contenido.-infoProducto {
        max-width: 32.8rem;
        min-height: 32.8rem;
    }
}

.a-card__contenido.-info {
    max-width: 46rem;
    min-height: 71.5rem;
}

@media screen and (max-width: 550px) {
    .a-card__contenido.-info {
        max-width: 33.6rem;
        min-height: 52.9rem;
    }
}

.a-card__contenido.-cardProducto {
    width: 100%;
    min-height: 34.9rem;

    border-radius: var(--Borde-r) var(--Borde-r) 0 0;
}

@media screen and (max-width: 550px) {
    .a-card__contenido.-cardProducto {
        min-height: 19.1rem;
    }
}

.a-card__contenido.-categoria {
    display: flex;
    align-items: center;
    flex: auto;

    max-width: 8.8rem;
    min-height: 8.8rem;

    transition: all 0.3s;
    overflow: hidden;
}

@media screen and (max-width: 550px) {
    .a-card__contenido.-categoria {
        flex-direction: column;

        width: 6.4rem;
        height: 6.4rem;
    }

    .a-card__contenido.-categoria:hover {
        width: 8.8rem;
        height: 8.8rem;

        overflow: visible;
    }
}

.a-card__contenido.-categoria>span {
    position: absolute;
    left: calc(100% + 8px);

    color: var(--Color-Prim-azul1);
    font-size: var(--Fuente-T-DisplaySM);
    font-weight: var(--Fuente-G-SemiBold);
}

@media screen and (max-width: 550px) {
    .a-card__contenido.-categoria>span {
        left: auto;
        bottom: calc(100% + 8px);

        font-size: var(--Fuente-T-TextoLG);
        font-weight: var(--Fuente-G-SemiBold);
    }
}

.a-card__contenido.-categoria:hover {
    max-width: 11.2rem;
    min-height: 11.2rem;

    overflow: visible;
}

.a-card__galeria.-vertical {
    max-width: 46rem;
    min-height: 71.5rem;
}

@media screen and (max-width: 550px) {
    .a-card__galeria.-vertical {
        max-width: 16.2rem;
        min-height: 39.4rem;
    }
}

.a-card__galeria.-horizontal {
    max-width: 61.8rem;
    min-height: 35rem;
}

@media screen and (max-width: 550px) {
    .a-card__galeria.-horizontal {
        max-width: 33.6rem;
        min-height: 19.1rem;
    }
}

.a-card__galeria.-rectangular {
    max-width: 46rem;
    min-height: 35rem;
}

@media screen and (max-width: 550px) {
    .a-card__galeria.-rectangular {
        max-width: 16.2rem;
        min-height: 19.1rem;
    }
}