/******************************************
*  Author : @AngelMaldonado   
*  Created On : Mon May 23 2022
*  File : iconos.css
*******************************************/
@import "/assets/css/tokens/tokens.css";

/**
 * Uso:
 * <element class="a-icono__contenedor">
 *      <svg class="a-icono__svg -t[px] -[tipo]">
 *          contenido del arhivo .svg
 *      </svg>
 * </element>
 */

.a-icono__contenedor {
    display: inline-block;
}

/* 1 variante */
.a-icono__svg {
    fill: var(--Color-Prim-azul1);
}

/* 2 variantes */
.a-icono__svg>g>.-lleno {
    opacity: 0.0;
}

.a-icono__svg>g>.-delineado {
    opacity: 1.0;
}

.a-icono__svg.-activo {
    transition: all 300ms;
}

/* 1 variante */
.a-icono__svg.-activo:hover {
    fill: var(--Color-Prim-verde1);
}

/* 2 variantes */
.a-icono__svg.-activo:hover>g>.-delineado {
    opacity: 0.0;
}

.a-icono__svg.-activo:hover>g>.-lleno {
    opacity: 1.0;
}