/******************************************
*  Author : @AngelMaldonado   
*  Created On : Mon May 23 2022
*  File : iconos.css
*******************************************/
@import "/assets/css/tokens/tokens.css";

/**
 * Uso:
 * <element class="a-icono__Contenedor">
 *      <svg class="a-icono__svg -t[px] -[tipo]">
 *          contenido del arhivo .svg
 *      </svg>
 * </element>
 */

.a-icono__Contenedor {
    display: inline-block;
}

/* 1 variante */
.a-icono__svg {
    fill: var(--Color-Prim-azul1);
}

/* 2 variantes */
.a-icono__svg>g>.-lleno {
    opacity: 0.0;
}

.a-icono__svg>g>.-delineado {
    opacity: 1.0;
}

.a-icono__svg.-activo {
    transition: all 300ms;
}

.a-icono__svg.-t24 {
    width: var(--Icono-T24);
    height: var(--Icono-T24);
}

.a-icono__svg.-t32 {
    width: var(--Icono-T32);
    height: var(--Icono-T32);
}

.a-icono__svg.-t40 {
    width: var(--Icono-T40);
    height: var(--Icono-T40);
}

.a-icono__svg.-t48 {
    width: var(--Icono-T48);
    height: var(--Icono-T48);
}

.a-icono__svg.-t56 {
    width: var(--Icono-T56);
    height: var(--Icono-T56);
}

/* 1 variante */
.a-icono__svg.-activo:hover {
    fill: var(--Color-Prim-verde1);
}

/* 2 variantes */
.a-icono__svg.-activo:hover>g>.-delineado {
    opacity: 0.0;
}

.a-icono__svg.-activo:hover>g>.-lleno {
    opacity: 1.0;
}