/******************************************
*  Author : Angel de Jesus Maldonado Juarez   
*  Created On : Mon May 23 2022
*  File : styles.css
*******************************************/
@import "/assets/css/tokens/tokens.css";
/* ATOMOS */
@import "/assets/css/atoms/iconos.css";
@import "/assets/css/atoms/avatar.css";
@import "/assets/css/atoms/card.css";
@import "/assets/css/atoms/boton.css";
/* MOLECULAS */
@import "/assets/css/molecules/control.css";
@import "/assets/css/molecules/entrada.css";


html {
    box-sizing: border-box;
    font-family: var(--Fuente-Principal);
    font-size: 62.5%;
    /** Reset para REMS - 62.5% = 10px de 16px **/
    color: var(--Color-Prim-azul1);
}

html,
body {
    margin: 0;
    /* background-image: var(--Color-Extra-lingrad-azul23); */
}