/******************************************
*  Author : Angel de Jesus Maldonado Juarez   
*  Created On : Mon May 23 2022
*  File : styles.css
*******************************************/
@import "/assets/components/tokens/tokens.css";
/* ATOMOS */
@import "/assets/components/atoms/iconos.css";
@import "/assets/components/atoms/avatar.css";
@import "/assets/components/atoms/card.css";
@import "/assets/components/atoms/boton.css";
/* MOLECULAS */
@import "/assets/components/molecules/control.css";
@import "/assets/components/molecules/entrada.css";
@import "/assets/components/molecules/card.css";
/* ORGANISMOS */
@import "/assets/components/organisms/slider.css";


html {
    box-sizing: border-box;
    font-family: var(--Fuente-Principal);
    font-size: 62.5%;
    /** Reset para REMS - 62.5% = 10px de 16px **/
    color: var(--Color-Prim-azul1);
}

html,
body {
    margin: 0;
    /* background-image: var(--Color-Extra-lingrad-azul23); */
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}