/******************************************
*  Author : Angel de Jesus Maldonado Juarez   
*  Created On : Mon May 23 2022
*  File : styles.css
*******************************************/
@import "/assets/css/tokens/tokens.css";
@import "/assets/css/atoms/iconos.css";

html {
    box-sizing: border-box;
    font-family: var(--Fuente-Principal);
    font-size: 62.5%;
    /** Reset para REMS - 62.5% = 10px de 16px **/
    color: var(--Color-Prim-azul1);
}

body {
    background-image: var(--Color-Extra-lingrad-azul23);
}

/* div {
    background-color: white;
    width: 50%;
    border: 1px solid black;
    border-radius: var(--Borde-r);
    margin: 100px auto;
    box-shadow: var(--Sombra-InteriorLG-Negro);
} */