/******************************************
*  Author : @AngelMaldonado   
*  Created On : Wed Jun 01 2022
*  File : card.css
*******************************************/

.m-card {
    display: flex;
    border-radius: var(--Borde-r);
}

/**
 * Uso:
<div class="m-card -productoStatus -ef(sombraEXMD-Negro)">
    <a href="/" class="a-card__contenido -miniatura"></a>
    <h1 class="-DisplaySM(Medium)">Nombre del servicio</h1>
    <div class="-separador"></div>
    <div class="-estado">
        <h2 class="-DisplaySM(Regular)">Estado 1</h2>
        <a href="/" class="a-icono__contenedor">
            <svg class="a-icono__svg -t56 -activo" viewBox="0 0 24 24" fill="none"
                xmlns="http://www.w3.org/2000/svg">
                <g id="reloj-vector">
                    <path
                        d="M11.99 2C6.47 2 2 6.48 2 12C2 17.52 6.47 22 11.99 22C17.52 22 22 17.52 22 12C22 6.48 17.52 2 11.99 2ZM12 20C7.58 20 4 16.42 4 12C4 7.58 7.58 4 12 4C16.42 4 20 7.58 20 12C20 16.42 16.42 20 12 20ZM12.5 7H11V13L16.25 16.15L17 14.92L12.5 12.25V7Z" />
                </g>
            </svg>
        </a>
    </div>
    <div class="-separador"></div>
    <div class="-estado">
        <h2 class="-DisplaySM(Regular)">Estado 1</h2>
        <a href="/" class="a-icono__contenedor">
            <svg class="a-icono__svg -t56 -activo" viewBox="0 0 24 24" fill="none"
                xmlns="http://www.w3.org/2000/svg">
                <g id="reloj-vector">
                    <path
                        d="M11.99 2C6.47 2 2 6.48 2 12C2 17.52 6.47 22 11.99 22C17.52 22 22 17.52 22 12C22 6.48 17.52 2 11.99 2ZM12 20C7.58 20 4 16.42 4 12C4 7.58 7.58 4 12 4C16.42 4 20 7.58 20 12C20 16.42 16.42 20 12 20ZM12.5 7H11V13L16.25 16.15L17 14.92L12.5 12.25V7Z" />
                </g>
            </svg>
        </a>
    </div>
    <div class="-separador"></div>
    <div class="-estado">
        <h2 class="-DisplaySM(Regular)">Estado 1</h2>
        <a href="/" class="a-icono__contenedor">
            <svg class="a-icono__svg -t56 -activo" viewBox="0 0 24 24" fill="none"
                xmlns="http://www.w3.org/2000/svg">
                <g id="reloj-vector">
                    <path
                        d="M11.99 2C6.47 2 2 6.48 2 12C2 17.52 6.47 22 11.99 22C17.52 22 22 17.52 22 12C22 6.48 17.52 2 11.99 2ZM12 20C7.58 20 4 16.42 4 12C4 7.58 7.58 4 12 4C16.42 4 20 7.58 20 12C20 16.42 16.42 20 12 20ZM12.5 7H11V13L16.25 16.15L17 14.92L12.5 12.25V7Z" />
                </g>
            </svg>
        </a>
    </div>
    <div class="-separador"></div>
    <div class="-estado">
        <h2 class="-DisplaySM(Regular)">Estado 1</h2>
        <a href="/" class="a-icono__contenedor">
            <svg class="a-icono__svg -t56 -activo" viewBox="0 0 24 24" fill="none"
                xmlns="http://www.w3.org/2000/svg">
                <g id="reloj-vector">
                    <path
                        d="M11.99 2C6.47 2 2 6.48 2 12C2 17.52 6.47 22 11.99 22C17.52 22 22 17.52 22 12C22 6.48 17.52 2 11.99 2ZM12 20C7.58 20 4 16.42 4 12C4 7.58 7.58 4 12 4C16.42 4 20 7.58 20 12C20 16.42 16.42 20 12 20ZM12.5 7H11V13L16.25 16.15L17 14.92L12.5 12.25V7Z" />
                </g>
            </svg>
        </a>
    </div>
    <a href="/" class="a-icono__contenedor">
        <svg class="a-icono__svg -t56 -activo" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <g id="comentar-vector">
                <path
                    d="M22 4C22 2.9 21.1 2 20 2H4C2.9 2 2 2.9 2 4V16C2 17.1 2.9 18 4 18H18L22 22V4ZM20 17.17L18.83 16H4V4H20V17.17ZM13 5H11V9H7V11H11V15H13V11H17V9H13V5Z" />
            </g>
        </svg>
    </a>
</div>
<div class="m-card -productoComentario -ef(sombraEXMD-Negro)">
    <div class="a-avatar -img">
        <!-- <svg class="a-icono__svg" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <g id="usuario-vector">
                <path
                    d="M12 4.5C13.375 4.5 14.5 5.625 14.5 7C14.5 8.375 13.375 9.5 12 9.5C10.625 9.5 9.5 8.375 9.5 7C9.5 5.625 10.625 4.5 12 4.5ZM12 17C15.375 17 19.25 18.6125 19.5 19.5H4.5C4.7875 18.6 8.6375 17 12 17ZM12 2C9.2375 2 7 4.2375 7 7C7 9.7625 9.2375 12 12 12C14.7625 12 17 9.7625 17 7C17 4.2375 14.7625 2 12 2ZM12 14.5C8.6625 14.5 2 16.175 2 19.5V22H22V19.5C22 16.175 15.3375 14.5 12 14.5Z" />
            </g>
        </svg> -->
        <a href="/" class="a-avatar__Filtro">
            <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g id="editar-vector">
                    <path
                        d="M3 17.25V21H6.75L17.81 9.94L14.06 6.19L3 17.25ZM20.71 7.04C21.1 6.65 21.1 6.02 20.71 5.63L18.37 3.29C17.98 2.9 17.35 2.9 16.96 3.29L15.13 5.12L18.88 8.87L20.71 7.04V7.04Z" />
                </g>
            </svg>
        </a>
    </div>
    <div class="-producto">
        <h1 class="-TextoXL(Medium)">Nombre del servicio o producto</h1>
        <div class="m-control -calificador">
            <input type="radio" name="estrella" id="rc1">
            <label for="estrella">
                <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <g id="estrella">
                        <path id="estrella-vector"
                            d="M12.2584 16.8419L12 16.686L11.7416 16.8419L6.57613 19.9596L7.94693 14.0836L8.01549 13.7897L7.78739 13.5921L3.22308 9.63803L9.23227 9.12821L9.5327 9.10272L9.65036 8.82511L12 3.2813L14.3496 8.82511L14.4673 9.10272L14.7677 9.12821L20.7769 9.63803L16.2126 13.5921L15.9845 13.7897L16.0531 14.0836L17.4239 19.9596L12.2584 16.8419Z" />
                    </g>
                </svg>
            </label>
            <input type="radio" name="estrella" id="rc2">
            <label for="estrella">
                <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <g id="estrella">
                        <path id="estrella-vector"
                            d="M12.2584 16.8419L12 16.686L11.7416 16.8419L6.57613 19.9596L7.94693 14.0836L8.01549 13.7897L7.78739 13.5921L3.22308 9.63803L9.23227 9.12821L9.5327 9.10272L9.65036 8.82511L12 3.2813L14.3496 8.82511L14.4673 9.10272L14.7677 9.12821L20.7769 9.63803L16.2126 13.5921L15.9845 13.7897L16.0531 14.0836L17.4239 19.9596L12.2584 16.8419Z" />
                    </g>
                </svg>
            </label>
            <input type="radio" name="estrella" id="rc3">
            <label for="estrella">
                <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <g id="estrella">
                        <path id="estrella-vector"
                            d="M12.2584 16.8419L12 16.686L11.7416 16.8419L6.57613 19.9596L7.94693 14.0836L8.01549 13.7897L7.78739 13.5921L3.22308 9.63803L9.23227 9.12821L9.5327 9.10272L9.65036 8.82511L12 3.2813L14.3496 8.82511L14.4673 9.10272L14.7677 9.12821L20.7769 9.63803L16.2126 13.5921L15.9845 13.7897L16.0531 14.0836L17.4239 19.9596L12.2584 16.8419Z" />
                    </g>
                </svg>
            </label>
            <input type="radio" name="estrella" id="rc4">
            <label for="estrella">
                <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <g id="estrella">
                        <path id="estrella-vector"
                            d="M12.2584 16.8419L12 16.686L11.7416 16.8419L6.57613 19.9596L7.94693 14.0836L8.01549 13.7897L7.78739 13.5921L3.22308 9.63803L9.23227 9.12821L9.5327 9.10272L9.65036 8.82511L12 3.2813L14.3496 8.82511L14.4673 9.10272L14.7677 9.12821L20.7769 9.63803L16.2126 13.5921L15.9845 13.7897L16.0531 14.0836L17.4239 19.9596L12.2584 16.8419Z" />
                    </g>
                </svg>
            </label>
            <input type="radio" name="estrella" id="rc5">
            <label for="estrella">
                <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <g id="estrella">
                        <path id="estrella-vector"
                            d="M12.2584 16.8419L12 16.686L11.7416 16.8419L6.57613 19.9596L7.94693 14.0836L8.01549 13.7897L7.78739 13.5921L3.22308 9.63803L9.23227 9.12821L9.5327 9.10272L9.65036 8.82511L12 3.2813L14.3496 8.82511L14.4673 9.10272L14.7677 9.12821L20.7769 9.63803L16.2126 13.5921L15.9845 13.7897L16.0531 14.0836L17.4239 19.9596L12.2584 16.8419Z" />
                    </g>
                </svg>
            </label>
        </div>
    </div>
    <p class="-DisplaySM(Medium)">Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam tempora pariatur
        fugit similique quo ex dicta
        consequuntur! Ipsum facere illo saepe molestias vero mollitia laboriosam, dicta quasi, eveniet eum possimus.
    </p>
</div>
<div class="m-card -productoComentario -ef(sombraEXMD-Negro)">
    <div class="a-avatar -img">
        <!-- <svg class="a-icono__svg" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <g id="usuario-vector">
                <path
                    d="M12 4.5C13.375 4.5 14.5 5.625 14.5 7C14.5 8.375 13.375 9.5 12 9.5C10.625 9.5 9.5 8.375 9.5 7C9.5 5.625 10.625 4.5 12 4.5ZM12 17C15.375 17 19.25 18.6125 19.5 19.5H4.5C4.7875 18.6 8.6375 17 12 17ZM12 2C9.2375 2 7 4.2375 7 7C7 9.7625 9.2375 12 12 12C14.7625 12 17 9.7625 17 7C17 4.2375 14.7625 2 12 2ZM12 14.5C8.6625 14.5 2 16.175 2 19.5V22H22V19.5C22 16.175 15.3375 14.5 12 14.5Z" />
            </g>
        </svg> -->
        <a href="/" class="a-avatar__Filtro">
            <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g id="editar-vector">
                    <path
                        d="M3 17.25V21H6.75L17.81 9.94L14.06 6.19L3 17.25ZM20.71 7.04C21.1 6.65 21.1 6.02 20.71 5.63L18.37 3.29C17.98 2.9 17.35 2.9 16.96 3.29L15.13 5.12L18.88 8.87L20.71 7.04V7.04Z" />
                </g>
            </svg>
        </a>
    </div>
    <div class="-producto">
        <h1 class="-TextoXL(Medium)">Nombre del servicio o producto</h1>
        <div class="m-control -calificador">
            <input type="radio" name="estrella" id="rc1">
            <label for="estrella">
                <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <g id="estrella">
                        <path id="estrella-vector"
                            d="M12.2584 16.8419L12 16.686L11.7416 16.8419L6.57613 19.9596L7.94693 14.0836L8.01549 13.7897L7.78739 13.5921L3.22308 9.63803L9.23227 9.12821L9.5327 9.10272L9.65036 8.82511L12 3.2813L14.3496 8.82511L14.4673 9.10272L14.7677 9.12821L20.7769 9.63803L16.2126 13.5921L15.9845 13.7897L16.0531 14.0836L17.4239 19.9596L12.2584 16.8419Z" />
                    </g>
                </svg>
            </label>
            <input type="radio" name="estrella" id="rc2">
            <label for="estrella">
                <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <g id="estrella">
                        <path id="estrella-vector"
                            d="M12.2584 16.8419L12 16.686L11.7416 16.8419L6.57613 19.9596L7.94693 14.0836L8.01549 13.7897L7.78739 13.5921L3.22308 9.63803L9.23227 9.12821L9.5327 9.10272L9.65036 8.82511L12 3.2813L14.3496 8.82511L14.4673 9.10272L14.7677 9.12821L20.7769 9.63803L16.2126 13.5921L15.9845 13.7897L16.0531 14.0836L17.4239 19.9596L12.2584 16.8419Z" />
                    </g>
                </svg>
            </label>
            <input type="radio" name="estrella" id="rc3">
            <label for="estrella">
                <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <g id="estrella">
                        <path id="estrella-vector"
                            d="M12.2584 16.8419L12 16.686L11.7416 16.8419L6.57613 19.9596L7.94693 14.0836L8.01549 13.7897L7.78739 13.5921L3.22308 9.63803L9.23227 9.12821L9.5327 9.10272L9.65036 8.82511L12 3.2813L14.3496 8.82511L14.4673 9.10272L14.7677 9.12821L20.7769 9.63803L16.2126 13.5921L15.9845 13.7897L16.0531 14.0836L17.4239 19.9596L12.2584 16.8419Z" />
                    </g>
                </svg>
            </label>
            <input type="radio" name="estrella" id="rc4">
            <label for="estrella">
                <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <g id="estrella">
                        <path id="estrella-vector"
                            d="M12.2584 16.8419L12 16.686L11.7416 16.8419L6.57613 19.9596L7.94693 14.0836L8.01549 13.7897L7.78739 13.5921L3.22308 9.63803L9.23227 9.12821L9.5327 9.10272L9.65036 8.82511L12 3.2813L14.3496 8.82511L14.4673 9.10272L14.7677 9.12821L20.7769 9.63803L16.2126 13.5921L15.9845 13.7897L16.0531 14.0836L17.4239 19.9596L12.2584 16.8419Z" />
                    </g>
                </svg>
            </label>
            <input type="radio" name="estrella" id="rc5">
            <label for="estrella">
                <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <g id="estrella">
                        <path id="estrella-vector"
                            d="M12.2584 16.8419L12 16.686L11.7416 16.8419L6.57613 19.9596L7.94693 14.0836L8.01549 13.7897L7.78739 13.5921L3.22308 9.63803L9.23227 9.12821L9.5327 9.10272L9.65036 8.82511L12 3.2813L14.3496 8.82511L14.4673 9.10272L14.7677 9.12821L20.7769 9.63803L16.2126 13.5921L15.9845 13.7897L16.0531 14.0836L17.4239 19.9596L12.2584 16.8419Z" />
                    </g>
                </svg>
            </label>
        </div>
    </div>
    <p class="-DisplaySM(Medium)">Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam tempora pariatur
        fugit similique quo ex dicta
        consequuntur! Ipsum facere illo saepe molestias vero mollitia laboriosam, dicta quasi, eveniet eum possimus.
    </p>
    <div class="-opciones">
        <a href="/" class="a-icono__contenedor">
            <svg class="a-icono__svg -t32 -activo" viewBox="0 0 24 24" fill="none"
                xmlns="http://www.w3.org/2000/svg">
                <g id="cerrar-vector">
                    <path
                        d="M22 4.01429L19.9857 2L12 9.98571L4.01429 2L2 4.01429L9.98571 12L2 19.9857L4.01429 22L12 14.0143L19.9857 22L22 19.9857L14.0143 12L22 4.01429Z" />
                </g>
            </svg>
        </a>
        <a href="/" class="a-icono__contenedor">
            <svg class="a-icono__svg -t32 -activo" viewBox="0 0 24 24" fill="none"
                xmlns="http://www.w3.org/2000/svg">
                <g id="editar-vector">
                    <path class="-delineado"
                        d="M14.06 9.02L14.98 9.94L5.92 19H5V18.08L14.06 9.02V9.02ZM17.66 3C17.41 3 17.15 3.1 16.96 3.29L15.13 5.12L18.88 8.87L20.71 7.04C21.1 6.65 21.1 6.02 20.71 5.63L18.37 3.29C18.17 3.09 17.92 3 17.66 3V3ZM14.06 6.19L3 17.25V21H6.75L17.81 9.94L14.06 6.19V6.19Z" />
                    <path class="-lleno"
                        d="M3 17.25V21H6.75L17.81 9.94L14.06 6.19L3 17.25ZM20.71 7.04C21.1 6.65 21.1 6.02 20.71 5.63L18.37 3.29C17.98 2.9 17.35 2.9 16.96 3.29L15.13 5.12L18.88 8.87L20.71 7.04V7.04Z" />
                </g>
            </svg>
        </a>
    </div>
</div>
<div class="m-card -bolsa -ef(sombraEXMD-Negro)">
    <a href="/" class="a-card__contenido -miniatura"></a>
    <h1 class="-DisplaySM(Medium)">Nombre del servicio</h1>
    <div class="m-control -numerico">
        <a onclick="m_control__numerico__actualiza(this)" class="a-icono__contenedor -menos">
            <svg class="a-icono__svg" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g id="menos-vector">
                    <path class="-lleno"
                        d="M12 2C6.48 2 2 6.48 2 12C2 17.52 6.48 22 12 22C17.52 22 22 17.52 22 12C22 6.48 17.52 2 12 2ZM17 13H7V11H17V13Z" />
                    <path class="-delineado"
                        d="M7 11V13H17V11H7ZM12 2C6.48 2 2 6.48 2 12C2 17.52 6.48 22 12 22C17.52 22 22 17.52 22 12C22 6.48 17.52 2 12 2ZM12 20C7.59 20 4 16.41 4 12C4 7.59 7.59 4 12 4C16.41 4 20 7.59 20 12C20 16.41 16.41 20 12 20Z" />
                </g>
            </svg>
        </a>
        <input type="number" min="1" max="100" step="1" value="1" id="control-numerico"
            onchange="m_control__numerico__actualiza_botones()">
        <a onclick="m_control__numerico__actualiza(this)" class="a-icono__contenedor -mas">
            <svg class="a-icono__svg" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g id="mas-vector">
                    <path class="-delineado"
                        d="M13 7H11V11H7V13H11V17H13V13H17V11H13V7ZM12 2C6.48 2 2 6.48 2 12C2 17.52 6.48 22 12 22C17.52 22 22 17.52 22 12C22 6.48 17.52 2 12 2ZM12 20C7.59 20 4 16.41 4 12C4 7.59 7.59 4 12 4C16.41 4 20 7.59 20 12C20 16.41 16.41 20 12 20Z" />
                    <path class="-lleno"
                        d="M12 2C6.48 2 2 6.48 2 12C2 17.52 6.48 22 12 22C17.52 22 22 17.52 22 12C22 6.48 17.52 2 12 2ZM17 13H13V17H11V13H7V11H11V7H13V11H17V13Z" />
                </g>
            </svg>
        </a>
    </div>
    <h1 class="-DisplaySM(Medium)">$10000.00</h1>
    <a href="/" class="a-icono__contenedor">
        <svg class="a-icono__svg -t32 -activo" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <g id="cerrar-vector">
                <path
                    d="M22 4.01429L19.9857 2L12 9.98571L4.01429 2L2 4.01429L9.98571 12L2 19.9857L4.01429 22L12 14.0143L19.9857 22L22 19.9857L14.0143 12L22 4.01429Z" />
            </g>
        </svg>
    </a>
</div>
 */

.m-card.-producto {
    flex-direction: column;

    max-width: 30.1rem;
    height: 57.5rem;

    background-color: var(--Color-Blanco);

    transition: all 0.3s;
    cursor: pointer;
}

@media screen and (max-width: 550px) {
    .m-card.-producto {
        max-width: 16.2rem;
        height: 33.6rem;
    }
}

.m-card.-producto>* {
    width: 100%;
    height: 100%;
}

.m-card.-producto:hover {
    max-width: 32.5rem;
    height: 62.85rem;

    filter: var(--Sombra-ExteriorLG-Negro);
}

@media screen and (max-width: 550px) {
    .m-card.-producto:hover {
        max-width: 17.8rem;
        height: 36.919rem;
    }
}

.m-card.-producto>.-info {
    display: inherit;
    flex-direction: column;
    justify-content: space-between;

    width: calc(100% - 2.4rem);

    position: relative;
    padding: 2.2rem 1.2rem;
}

@media screen and (max-width: 550px) {
    .m-card.-producto>.-info {
        padding: 0.8rem;
        padding-top: 1.8rem;
    }
}

.m-card.-producto>.-info>.-precio {
    position: absolute;
    padding: 0.4rem 0.8rem;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);

    color: var(--Color-Prim-verde4);
    background-color: var(--Color-Prim-azul3);

    border-radius: var(--Borde-r);
}

@media screen and (max-width: 550px) {
    .m-card.-producto>.-info>.-precio {
        font-size: var(--Fuente-T-TextoLG);
        font-weight: var(--Fuente-G-SemiBold);
    }
}

.m-card.-producto>.-info>.-descripcion {
    font-size: var(--Fuente-T-TextoXL);
    font-weight: var(--Fuente-G-Regular);
}

@media screen and (max-width: 550px) {
    .m-card.-producto>.-info>.-descripcion {
        font-size: var(--Fuente-T-TextoMD);
        font-weight: var(--Fuente-G-Regular);
    }
}

.m-card.-producto>.m-control.-calificador {
    height: fit-content;
}

@media screen and (max-width: 550px) {
    .m-card.-producto>.-info>.m-control.-calificador label>svg {
        width: var(--Icono-T24);
        height: var(--Icono-T24);
    }
}

.m-card.-productoStatus,
.m-card.-bolsa {
    align-items: center;
    justify-content: space-between;
    padding-right: 2rem;
    gap: 2rem;

    text-align: center;

    max-width: calc(156.6rem - 2rem);

    background-color: var(--Color-Prim-azul3);

    overflow: hidden;
}

@media screen and (max-width: 852px) {

    .m-card.-productoStatus,
    .m-card.-bolsa {
        flex-direction: column;
        padding: 0;
        padding-bottom: 1.2rem;
        gap: 0.8rem;

        max-width: calc(33.6rem - 2rem);
        min-height: calc(25.9rem - 2rem);
    }

    .m-card.-productoStatus>.a-card__contenido.-miniatura,
    .m-card.-bolsa>.a-card__contenido.-miniatura {
        width: 100%;
        height: 12.4rem;
    }
}

.m-card.-productoStatus>h1 {
    flex: 2;
}

@media screen and (max-width: 852px) {
    .m-card.-productoStatus>h1 {
        font-size: var(--Fuente-T-TextoXL);
        font-weight: var(--Fuente-G-Medium);
    }
}

.m-card.-productoStatus>.-estado {
    flex: 1;
}

@media screen and (max-width: 852px) {
    .m-card.-productoStatus>.-estado {
        display: flex;
        width: calc(100% - 2.4rem);
        height: fit-content;
        align-items: center;
        justify-content: space-between;

        font-size: var(--Fuente-T-TextoXL);
        font-weight: var(--Fuente-G-Regular);
    }
}

.m-card.-productoStatus>.-separador {
    width: 0.4rem;
    height: 14rem;

    background-color: var(--Color-Prim-azul1);

    border-radius: inherit;
}

@media screen and (max-width: 852px) {
    .m-card.-productoStatus>.-separador {
        display: none;
    }
}

@media screen and (max-width: 550px) {

    .m-card.-productoStatus>.-estado>.a-icono__contenedor>svg,
    .m-card.-productoStatus>.a-icono__contenedor>svg {
        width: var(--Icono-T32);
        height: var(--Icono-T32);
    }
}

.m-card.-productoComentario {
    align-items: center;
    gap: 4rem;
    padding: 0rem 2rem;

    max-width: calc(156.6rem - 4rem);
    height: 16.6rem;

    background-color: var(--Color-Blanco);
}

@media screen and (max-width: 852px) {
    .m-card.-productoComentario {
        padding: 2rem;
        gap: 2rem;
        flex-direction: column-reverse;
        justify-content: center;

        width: 33.6rem;
        height: fit-content;
    }

    .m-card.-productoComentario>* {
        width: 100%;
    }
}

.m-card.-productoComentario>* {
    height: 70%;
}

.m-card.-productoComentario>.a-avatar {
    flex: 0 0 11.4rem;
    height: 11.4rem;
}

@media screen and (max-width: 852px) {
    .m-card.-productoComentario>.a-avatar {
        width: 11.4rem;
        order: 2;
    }
}

.m-card.-productoComentario>.-producto {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    flex: 2;
}

@media screen and (max-width: 852px) {
    .m-card.-productoComentario>.-producto {
        order: 1;
    }
}

.m-card.-productoComentario>p {
    overflow: hidden;
}

@media screen and (max-width: 852px) {
    .m-card.-productoComentario>.-opciones {
        text-align: right;
        order: 3;
    }
}